@use './_modal.scss';
@use './_form.scss';
@use './_toast.scss';
@use './_inputs.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(42, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  gap: 1rem;
}

button {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 3px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

button[type='submit'] {
  background-color: #0077ff;
  color: #fff;
}

button[type='submit']:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button[type='submit']:disabled {
  background-color: #ccc;
  color: #666;
}

button[type='submit']:hover {
  background-color: #071094;
  transition: background-color 0.3s ease;
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

#openModal {
  margin-top: 2rem;
}

#closeModal,
#openModal {
  display: flex;
  height: min-content;
  width: fit-content;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 3px;
  border-color: rgb(0, 0, 0);
  background-color: #006dbb;
  color: rgb(255, 255, 255);
  align-items: center;
  z-index: 10;
}

#closeModal:hover,
#openModal:hover {
  background-color: #071094;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  transition: background-color 0.3s ease;
}

#closeModal:active,
#openModal:active {
  transform: scale(0.95) translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#app {
  align-items: center;
  gap: 1rem;
  display: flex;
  max-width: 400px;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
}
